<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="ChgPwdMapper">

        <update id="updateNewPassword" parameterType="kr.co.rpaplatform.dongwon.orgnzt.vo.UserVO">
        /* ChgPwdMapper.updateNewPassword */
        UPDATE  TB_USER_BAS
           SET  PASSWORD  = #{password}
               ,UPDUSR_ID = #{txUserId}
               ,UPDT_DT   = GETDATE()
         WHERE  USER_ID   = #{userId}
    </update>
</mapper>