<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="CntcSysMapper">
        
        
            <select id="chkCntcSysCd" parameterType="java.util.Map" resultType="java.lang.Integer">
/*CntcSysMapper.chkCntcSysCd*/
SELECT COUNT(CNTC_SYS_CD) FROM TB_CNTC_SYS
WHERE
<choose>
    <when test='CntcType.equals("01")'>
        CNTC_SYS_CLS_CD = #{CntcType}
        AND CNTC_SYS_CD = #{SysCd}
    </when>
    <otherwise>
       CMPNY_CD = #{CntcType}
          AND CNTC_SYS_CD = #{SysCd}
    </otherwise>
</choose>

            </select>
            <insert id="insertCntc" parameterType="java.util.Map" >
         /*CntcSysMapper.insertCntc*/   
                     
            
            INSERT
            INTO TB_CNTC_SYS(
                           CNTC_SYS_CD              /*연계시스템코드*/
                          ,CNTC_SYS_NM              /*연계시스템명*/
                          ,CNTC_SYS_CLS_CD          /*연게시스템 분류 코드*/
                          ,CMPNY_CD                 /*회사코드*/
                          ,SYS_DC                   /*시스템설명*/
                          ,USE_AT                   /*사용여부*/
                          ,REGISTER_ID              /*등록자아이디*/
                          ,REG_DT                   /*등록일시*/
                          ,UPDUSR_ID                /*수정자아이디*/
                          ,UPDT_DT                  /*수정일시*/
       
                          )
            VALUES      (                               
                               
                              #{SysCd}                   /*연계시스템코드*/     
                             ,#{SYsNm}                   /*연계시스템명*/      
                             ,#{CntcType}                   /*연게시스템 분류 코드*/ 
                             ,#{Tenant}             /*회사코드*/        
                             ,#{SysDc}               /*시스템설명*/       
                             ,#{Use}                   /*사용여부*/        
                             ,'testuser'                   /*등록자아이디*/      
                             , GETDATE()                  /*등록일시*/        
                             ,'testuser'                   /*수정자아이디*/
                             , GETDATE()                   /*수정일시*/
                       )                               
                                                              
        
        </insert> 


       <select id="getCntcSysList" parameterType="java.util.Map" resultType="pascalToCamelMap">
       /*CntcSysMapper.getCntcSysList*/
           
              SELECT   A.CNTC_SYS_CD     AS cntcSysCd         /*연계시스템코드*/
                      ,A.CNTC_SYS_NM     AS cntcSysNm        /*연계시스템명*/
                      ,C.CD_NM   AS cntcSysClsNm     /*연게시스템 분류명*/
                      ,B.CD_NM   AS cmpnyNm            /*회사코드*/
                      ,A.SYS_DC  AS sysDc               /*시스템설명*/
                      ,A.USE_AT  AS useAt                /*사용여부*/                
                FROM  TB_CNTC_SYS A
              LEFT JOIN  TB_CMMN_CD B
                  ON  ( A.CMPNY_CD = B.CD
                        AND B.CLS_CD = '0024'
                       )
                    JOIN  TB_CMMN_CD C 
                  ON  ( A.CNTC_SYS_CLS_CD = C.CD
                        AND C.CLS_CD = '0035'
                       )     
                  
               WHERE  1 = 1
               <if test='cntcType != null and cntcType != ""'>
               AND   CNTC_SYS_CLS_CD = #{cntcType}
               </if>
               <if test='cmpny != null and cmpny != ""'>
               AND   CMPNY_CD = #{cmpny}
               </if>
               <if test='cntcSysCd != null and cntcSysCd != ""'>
               AND   A.CNTC_SYS_CD = #{cntcSysCd}
               </if>
               <if test='cntcSysNm != null and cntcSysNm != ""'>
               AND   A.CNTC_SYS_CD LIKE '%' + #{cntcSysNm} + '%'
               </if>
               ORDER BY  CNTC_SYS_CD ASC
                      OFFSET #{paginationInfo.firstRecordIndex} ROWS
                     FETCH NEXT #{paginationInfo.recordCountPerPage} ROWS ONLY
      
       </select>
       
       <select id="selectCntcCount" parameterType="java.util.Map" resultType="java.lang.Integer">
       /*CntcSysMapper.selectCntcCount*/
           
           SELECT COUNT(*)
             FROM TB_CNTC_SYS 
             WHERE  1 = 1
               <if test='cntcType != null and cntcType != ""'>
               AND   CNTC_SYS_CLS_CD = #{cntcType}
               </if>
               <if test='cmpny != null and cmpny != ""'>
               AND   CMPNY_CD = #{cmpny}
               </if>
               <if test='cntcSysCd != null and cntcSysCd != ""'>
               AND   A.CNTC_SYS_CD = #{cntcSysCd}
               </if>
               <if test='cntcSysNm != null and cntcSysNm != ""'>
               AND   A.CNTC_SYS_CD LIKE '%' + #{cntcSysNm} + '%'
               </if>
           
       </select>
       
       <select id="selectCntcDetail" parameterType="kr.co.rpaplatform.dongwon.stdrinfo.vo.CntcSysVO" resultType="kr.co.rpaplatform.dongwon.stdrinfo.vo.CntcSysVO">
       /* CntcSysMapper.selectCntcDetail */
              SELECT   CNTC_SYS_CD     AS cntcSysCd         /*연계시스템코드*/
                      ,CNTC_SYS_NM     AS cntcSysNm        /*연계시스템명*/
                      ,CNTC_SYS_CLS_CD   AS cntcSysClsCd     /*연게시스템 분류 코드*/
                      ,CMPNY_CD    AS cmpnyCd            /*회사코드*/
                      ,SYS_DC  AS sysDc               /*시스템설명*/
                      ,USE_AT  AS useAt                /*사용여부*/                
                FROM  TB_CNTC_SYS   
               WHERE  CNTC_SYS_CD = #{sysCd}
           
       </select>

        <update id = "updateCntc" parameterType="java.util.Map">
          /* CntcSysMapper.updateCntc */     
              UPDATE  TB_CNTC_SYS 
                 SET  CNTC_SYS_NM = #{SYsNm}
                     ,SYS_DC = #{SysDc}
                     ,USE_AT = #{Use}                    
               WHERE CNTC_SYS_CD = #{SysCd}
        
        </update>
        
        <update id = "cntcDelete"    parameterType = "java.util.Map">
         /* CntcSysMapper.cntcDelete */
              DELETE 
                FROM TB_CNTC_SYS
               WHERE CNTC_SYS_CD = #{SysCd}
           
        
        </update>
        
        
        <select id="autoNumSelect" parameterType="java.util.Map" resultType="java.util.Map">
/* CntcSysMapper.autoNumSelect */
SELECT #{Tenant} + RIGHT('00' + ISNULL(CAST(CAST(RIGHT(max(cntc_sys_cd), 3) as int) + 1 AS VARCHAR(3)), 1), 3) AS NEXT_CD
FROM TB_CNTC_SYS where CNTC_SYS_CD like #{Tenant}+'%'
       
       
        
        </select>
        
        
        
        
        
        
        

</mapper>